<P0> I will visit Piazzale San Paolo . <E0><P1> I am going to Rome on vacation . <E1><P2> I like history . <E2><P3> I am interested in architecture . <E3><P4> I am studying Saint Paul . . <E4> 
