<E0> <P1> Where is this place . <E1> <P2> This is located in Rome so you could add it to your vacation plans . <E2> <P3> What part of Rome . <E3> <P4> This is actually in the Piazzale San Paolo where it looks like you are planning a visit . <E4> <P5> What is it called . . <E5> 
